WF_A_Subdomains_PT.json
{
  "name": "WF_A_Subdomains_PT",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        112
      ],
      "id": "96413fd4-3415-4449-aa55-669b63ed1fbe"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_type_id",
              "value": "={{ $json.product_type_id }}"
            },
            {
              "name": "domain",
              "value": "={{ $json.domain || '' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1008,
        112
      ],
      "id": "08561f93-0a20-4956-a2e1-9f2b27a71f54"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/product_types/' + $json.product_type_id + '/' }}",
        "options": {}
      },
      "name": "Get Product Type from Dojo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "id": "00ccc811-2c6f-4a27-a2b4-34955a5a68d9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\n\ndef is_mapping_like(v):\n    return hasattr(v, 'get') or hasattr(v, '__getitem__')\n\n\ndef read_key(container, key, default=None):\n    try:\n        val = container.get(key)\n        return default if val is None else val\n    except Exception:\n        try:\n            val = container[key]\n            return default if val is None else val\n        except Exception:\n            return default\n\n\ndef to_candidates(payload):\n    # Case 1: mapping-like single object\n    if is_mapping_like(payload):\n        return [payload]\n\n    # Case 2: list/iterable of objects (including n8n proxy arrays)\n    try:\n        arr = [x for x in payload]\n    except Exception:\n        return []\n\n    out = []\n    for x in arr:\n        if is_mapping_like(x):\n            out.append(x)\n    return out\n\n\nitems = _input.all()\nif not items:\n    raise Exception('Extract Domain: no input items')\n\noutput = []\nfor item in items:\n    payload = item.json\n    candidates = to_candidates(payload)\n\n    for pt in candidates:\n        # Prefer `id` from Dojo Product Type input; fallback to product_type_id\n        pt_id_raw = read_key(pt, 'id')\n        if pt_id_raw is None:\n            pt_id_raw = read_key(pt, 'product_type_id')\n\n        try:\n            pt_id = int(pt_id_raw)\n        except Exception:\n            raise Exception(f'product_type_id is missing or invalid: {pt_id_raw}')\n\n        domain = (read_key(pt, 'name', '') or read_key(pt, 'domain', '')).strip()\n        if not domain:\n            raise Exception(f'Could not determine domain for Product Type {pt_id}')\n\n        domain = re.sub(r'^https?://', '', domain, flags=re.IGNORECASE)\n        domain = domain.split('/')[0]\n        domain = domain.split(':')[0]\n        domain = domain.lower().strip()\n\n        if not domain:\n            raise Exception(f'Domain normalization produced empty value for Product Type {pt_id}')\n\n        output.append({\n            'json': {\n                'product_type_id': pt_id,\n                'domain': domain,\n                'product_type': pt,\n            }\n        })\n\nif not output:\n    raise Exception('Extract Domain: no valid product type objects in input')\n\nreturn output\n"
      },
      "name": "Extract Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ],
      "id": "7a05258d-d662-4fca-b658-94d5f1ce79b3"
    },
    {
      "parameters": {
        "command": "=python3 /opt/tools/enum_subs_auto.py \\\n  --domain \"{{ $json.domain }}\" \\\n  --resolve \\\n  --json-output"
      },
      "name": "Run Subdomain Enumeration",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ],
      "id": "a08c5604-cacd-4be3-9460-0f02a9f2899d"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal"
            }
          ]
        }
      },
      "name": "Check Script Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "86915ca7-6b2b-4940-a565-7aaaec449978"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\n\ndef read_key(container, key, default=None):\n    try:\n        val = container.get(key)\n        return default if val is None else val\n    except Exception:\n        try:\n            val = container[key]\n            return default if val is None else val\n        except Exception:\n            return default\n\n\nitems = _input.all()\nextract_items = _(\"Extract Domain\").all()\n\nif not items:\n    raise Exception('Parse Results: no input items')\n\noutput = []\nfor idx, item in enumerate(items):\n    payload = item.json\n\n    stdout = read_key(payload, 'stdout', '{}')\n    try:\n        result = json.loads(stdout)\n    except Exception as e:\n        raise Exception(f'Failed to parse JSON from enum_subs_auto.py: {e}')\n\n    subs = read_key(result, 'subs', [])\n    if not isinstance(subs, list):\n        raise Exception('Invalid subdomains format from script')\n\n    hosts = []\n    for sub in subs:\n        if isinstance(sub, str) and sub:\n            hosts.append(sub)\n        elif isinstance(sub, dict) and isinstance(sub.get('host'), str) and sub.get('host'):\n            hosts.append(sub['host'])\n\n    extract = extract_items[idx].json if idx < len(extract_items) else {}\n\n    output.append({\n        'json': {\n            'product_type_id': read_key(extract, 'product_type_id'),\n            'domain': read_key(extract, 'domain'),\n            'subdomains': hosts,\n            'raw_result': result,\n        }\n    })\n\nreturn output\n"
      },
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "418e08e4-0e2d-44b7-b993-1bafabc98ec2"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/products/?prod_type=' + $json.product_type_id + '&limit=1000' }}",
        "options": {}
      },
      "name": "Get Existing Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a6360916-2e6e-4d0b-b385-a1dcc0154c97",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "def read_key(container, key, default=None):\n    try:\n        val = container.get(key)\n        return default if val is None else val\n    except Exception:\n        try:\n            val = container[key]\n            return default if val is None else val\n        except Exception:\n            return default\n\n\nitems = _input.all()\nparsed_items = _(\"Parse Results\").all()\nextract_items = _(\"Extract Domain\").all()\n\nif not items:\n    return []\n\nparsed_json = [it.json for it in parsed_items]\nextract_json = [it.json for it in extract_items]\n\noutput = []\nfor idx, item in enumerate(items):\n    payload = item.json\n\n    parsed = parsed_json[idx] if idx < len(parsed_json) else {}\n    if not parsed and parsed_json:\n        parsed = parsed_json[0]\n\n    # fallback to Extract Domain in case Parse Results pairing is unavailable\n    extract = extract_json[idx] if idx < len(extract_json) else {}\n    if not extract and extract_json:\n        extract = extract_json[0]\n\n    pt_id = read_key(parsed, 'product_type_id', read_key(extract, 'product_type_id'))\n    domain = read_key(parsed, 'domain', read_key(extract, 'domain'))\n\n    subs = read_key(parsed, 'subdomains', [])\n    if not isinstance(subs, list):\n        subs = []\n\n    results = read_key(payload, 'results', [])\n    if not isinstance(results, list):\n        results = []\n\n    existing_names = set()\n    for product in results:\n        name = read_key(product, 'name')\n        if isinstance(name, str) and name:\n            existing_names.add(name)\n\n    hosts_to_create = []\n    for host in subs:\n        if isinstance(host, str) and host and host not in existing_names:\n            hosts_to_create.append(host)\n\n    if len(subs) == 0 and isinstance(domain, str) and domain and domain not in existing_names:\n        hosts_to_create.append(domain)\n\n    # dedupe in-node\n    seen = set()\n    for host in hosts_to_create:\n        if host in seen:\n            continue\n        seen.add(host)\n        output.append({\n            'json': {\n                'product_type_id': pt_id,\n                'domain': domain,\n                'host': host,\n            }\n        })\n\nreturn output\n"
      },
      "name": "Prepare Create List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "d7758be2-a147-46d3-b095-428d0648f08c"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/products/' }}",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "name",
              "value": "={{ $json.host }}"
            },
            {
              "name": "prod_type",
              "value": "={{ $json.product_type_id }}"
            },
            {
              "name": "description",
              "value": "={{ 'Subdomain discovered for ' + $json[\"domain\"] + ' via automated enumeration' }}"
            },
            {
              "name": "tags",
              "value": "={{ ['needs:nmap'] }}"
            }
          ]
        }
      },
      "name": "Create Product in Dojo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "1c6289f8-cc3d-4f95-b390-6af4b9a9754d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime, timezone\n\nitems = _input.all()\nif not items:\n    return []\n\noutput = []\nfor item in items:\n    payload = item.json if isinstance(item.json, dict) else {}\n    subs = payload.get('subdomains') or []\n    if not isinstance(subs, list):\n        subs = []\n\n    output.append({\n        'json': {\n            'product_type_id': payload.get('product_type_id'),\n            'domain': payload.get('domain'),\n            'total_subdomains_found': len(subs),\n            'timestamp': datetime.now(timezone.utc).isoformat(),\n        }\n    })\n\nreturn output\n"
      },
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        208
      ],
      "id": "c06f056f-3b53-4e4f-b7bc-b31b2e070d4f"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "item = _input.first()\npayload = item.json if item and isinstance(item.json, dict) else {}\n\nexit_code = payload.get('exitCode')\nstderr = payload.get('stderr') or ''\nraise Exception(f'Subdomain enumeration failed with exit code {exit_code}: {stderr}')\n"
      },
      "name": "Handle Script Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "id": "c1357515-58a9-47b1-b598-3842a2aacd4e"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Get Product Type from Dojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Type from Dojo": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain": {
      "main": [
        [
          {
            "node": "Run Subdomain Enumeration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Subdomain Enumeration": {
      "main": [
        [
          {
            "node": "Check Script Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Script Success": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Script Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Get Existing Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Products": {
      "main": [
        [
          {
            "node": "Prepare Create List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Create List": {
      "main": [
        [
          {
            "node": "Create Product in Dojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c441b20-1a9b-4a96-92d2-aa0b62ab0e4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d06b9c37a455942c350bdf64d5764dfb5548ea5097bfb316251734323f35ea3f"
  },
  "id": "oZT7uy2mMk9QWkNi",
  "tags": []
}
