WF_A_Subdomains_PT.json
{
  "name": "WF_A_Subdomains_PT",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        112
      ],
      "id": "96413fd4-3415-4449-aa55-669b63ed1fbe"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_type_id",
              "value": "={{ $json.product_type_id }}"
            },
            {
              "name": "domain",
              "value": "={{ $json.domain || '' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1008,
        112
      ],
      "id": "08561f93-0a20-4956-a2e1-9f2b27a71f54"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/product_types/' + $json.product_type_id + '/' }}",
        "options": {}
      },
      "name": "Get Product Type from Dojo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "id": "00ccc811-2c6f-4a27-a2b4-34955a5a68d9",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\nfirst_item = _input.first()\nif first_item is None:\n    raise Exception('Extract Domain: no input item')\n\npt = first_item.json if isinstance(first_item.json, dict) else {}\n\npt_id_raw = pt.get('id') or pt.get('product_type_id')\ntry:\n    pt_id = int(pt_id_raw)\nexcept Exception:\n    raise Exception(f'product_type_id is missing or invalid: {pt_id_raw}')\n\ndomain = (pt.get('name') or '').strip()\nif not domain:\n    raise Exception(f'Could not determine domain for Product Type {pt_id}')\n\n# normalize: strip scheme, path, port, lowercase\ndomain = re.sub(r'^https?://', '', domain, flags=re.IGNORECASE)\ndomain = domain.split('/')[0]\ndomain = domain.split(':')[0]\ndomain = domain.lower().strip()\n\nif not domain:\n    raise Exception(f'Domain normalization produced empty value for Product Type {pt_id}')\n\nreturn [{\n    'json': {\n        'product_type_id': pt_id,\n        'domain': domain,\n        'product_type': pt\n    }\n}]\n"
      },
      "name": "Extract Domain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ],
      "id": "7a05258d-d662-4fca-b658-94d5f1ce79b3"
    },
    {
      "parameters": {
        "command": "=python3 /opt/tools/enum_subs_auto.py \\\n  --domain \"{{ $json.domain }}\" \\\n  --resolve \\\n  --json-output"
      },
      "name": "Run Subdomain Enumeration",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ],
      "id": "a08c5604-cacd-4be3-9460-0f02a9f2899d"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal"
            }
          ]
        }
      },
      "name": "Check Script Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "86915ca7-6b2b-4940-a565-7aaaec449978"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\nstdout = $json.get('stdout') or '{}'\ntry:\n    result = json.loads(stdout)\nexcept Exception as e:\n    raise Exception(f'Failed to parse JSON from enum_subs_auto.py: {e}')\n\nsubs = result.get('subs') or []\nif not isinstance(subs, list):\n    raise Exception('Invalid subdomains format from script')\n\nhosts = []\nfor item in subs:\n    if isinstance(item, str) and item:\n        hosts.append(item)\n    elif isinstance(item, dict) and item.get('host') and isinstance(item.get('host'), str):\n        hosts.append(item.get('host'))\n\nextract = $node['Extract Domain'].json\nreturn [{\n    'json': {\n        'product_type_id': extract.get('product_type_id'),\n        'domain': extract.get('domain'),\n        'subdomains': hosts,\n        'raw_result': result\n    }\n}]"
      },
      "name": "Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "418e08e4-0e2d-44b7-b993-1bafabc98ec2"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/products/?prod_type=' + $node[\"Extract Domain\"].json.product_type_id + '&limit=1000' }}",
        "options": {}
      },
      "name": "Get Existing Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a6360916-2e6e-4d0b-b385-a1dcc0154c97",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "parsed = $node['Parse Results'].json\npt_id = parsed.get('product_type_id')\ndomain = parsed.get('domain')\nsubs = parsed.get('subdomains') or []\n\nresp = $json or {}\nresults = resp.get('results') if isinstance(resp, dict) else []\nif not isinstance(results, list):\n    results = []\n\nexisting_names = set()\nfor product in results:\n    if isinstance(product, dict) and product.get('name'):\n        existing_names.add(product.get('name'))\n\nhosts_to_create = []\nfor host in subs:\n    if isinstance(host, str) and host and host not in existing_names:\n        hosts_to_create.append(host)\n\n# If no subdomains found at all, create root Product for domain if it doesn't exist\nif len(subs) == 0 and domain and domain not in existing_names:\n    hosts_to_create.append(domain)\n\nreturn [{\n    'json': {\n        'product_type_id': pt_id,\n        'domain': domain,\n        'host': host\n    }\n} for host in hosts_to_create]"
      },
      "name": "Prepare Create List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "d7758be2-a147-46d3-b095-428d0648f08c"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/products/' }}",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "name",
              "value": "={{ $json.host }}"
            },
            {
              "name": "prod_type",
              "value": "={{ $json.product_type_id }}"
            },
            {
              "name": "description",
              "value": "={{ 'Subdomain discovered for ' + $json[\"domain\"] + ' via automated enumeration' }}"
            },
            {
              "name": "tags",
              "value": "={{ ['needs:nmap'] }}"
            }
          ]
        }
      },
      "name": "Create Product in Dojo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "1c6289f8-cc3d-4f95-b390-6af4b9a9754d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime, timezone\n\nparsed = $node['Parse Results'].json\nsubs = parsed.get('subdomains') or []\n\nreturn [{\n    'json': {\n        'product_type_id': parsed.get('product_type_id'),\n        'domain': parsed.get('domain'),\n        'total_subdomains_found': len(subs),\n        'timestamp': datetime.now(timezone.utc).isoformat()\n    }\n}]"
      },
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        400,
        208
      ],
      "id": "c06f056f-3b53-4e4f-b7bc-b31b2e070d4f"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "exit_code = $json.get('exitCode')\nstderr = $json.get('stderr') or ''\nraise Exception(f'Subdomain enumeration failed with exit code {exit_code}: {stderr}')"
      },
      "name": "Handle Script Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "c1357515-58a9-47b1-b598-3842a2aacd4e"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Get Product Type from Dojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Type from Dojo": {
      "main": [
        [
          {
            "node": "Extract Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Domain": {
      "main": [
        [
          {
            "node": "Run Subdomain Enumeration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Subdomain Enumeration": {
      "main": [
        [
          {
            "node": "Check Script Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Script Success": {
      "main": [
        [
          {
            "node": "Parse Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Script Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Results": {
      "main": [
        [
          {
            "node": "Get Existing Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Products": {
      "main": [
        [
          {
            "node": "Prepare Create List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Create List": {
      "main": [
        [
          {
            "node": "Create Product in Dojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c441b20-1a9b-4a96-92d2-aa0b62ab0e4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d06b9c37a455942c350bdf64d5764dfb5548ea5097bfb316251734323f35ea3f"
  },
  "id": "oZT7uy2mMk9QWkNi",
  "tags": []
}
