WF_C_Targets_For_PT.json
{
  "name": "WF_C_Targets_For_PT",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8881a7ec-1878-4e10-94c8-6838f00aaacc"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_type_id",
              "value": "={{ $json.product_type_id }}"
            },
            {
              "name": "acunetix_endpoint",
              "value": "={{ $json.acunetix_endpoint || $json.selected_acu_node?.endpoint || '' }}"
            },
            {
              "name": "acunetix_api_key",
              "value": "={{ $json.acunetix_api_key || $json.acunetix_token || $json.selected_acu_node?.api_key || $json.selected_acu_node?.token || '' }}"
            },
            {
              "name": "acunetix_token",
              "value": "={{ $json.acunetix_token || $json.acunetix_api_key || $json.selected_acu_node?.token || $json.selected_acu_node?.api_key || '' }}"
            },
            {
              "name": "acunetix_node_name",
              "value": "={{ $json.acunetix_node_name || $json.selected_acu_node?.name || '' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "b60803c9-c7f8-4192-a02d-c71c6095580b"
    },
    {
      "parameters": {
        "command": "=DOJO_API_TOKEN=\"{{$env.DOJO_API_TOKEN}}\" \\\npython3 /opt/tools/process_nmap_ips_for_pt.py \\\n  --product-type-id {{$json[\"product_type_id\"].toString()}} \\\n  --xml-dir /tmp \\\n  --api-token \"$DOJO_API_TOKEN\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "3762ce5b-c66a-4a26-9b9f-83c039540cca",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "=python3 /opt/tools/acunetix_sync_pt.py \\\n  --dojo-base-url {{$env.DOJO_BASE_URL || 'http://localhost:8080/api/v2'}} \\\n  --dojo-api-token {{$env.DOJO_API_TOKEN}} \\\n  --product-type-id {{ $('Set Parameters').item.json.product_type_id }} \\\n  --acu-node-json '{{ JSON.stringify($(\"Validate Acunetix Node\").item.json.selected_acu_node) }}'\n "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "2381b203-8544-4e50-a98f-0cfb818f3235",
      "name": "Sync Acunetix Group"
    },
    {
      "parameters": {
        "command": "=python3 /opt/tools/acunetix_set_group_scan_speed.py \\\n  --acu-node-json '{{ JSON.stringify($(\"Validate Acunetix Node\").item.json.selected_acu_node) }}' \\\n  --group-id {{ $json.group_id }} \\\n  --scan-speed sequential\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "d7566881-9c82-4564-8538-2546bf40e85d",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport os\n\nitem = items[0]\ncontext = item.get(\"json\", {})\nstdout = context.get(\"stdout\", \"\")\n\ntry:\n    parsed = json.loads(stdout)\nexcept Exception as e:\n    raise Exception(f\"Не удалось распарсить stdout как JSON:\\n{stdout}\\nОшибка: {e}\")\n\npt_id = context.get('pt_id', context.get('product_type_id'))\npt_id_str = str(pt_id) if pt_id is not None else ''\nselected_node = context.get('selected_acu_node') if isinstance(context.get('selected_acu_node'), dict) else None\ntarget_mapping = parsed.get(\"target_mapping\", {})\n\ncreation_node = parsed.get('debug', {}).get('acu_base_url')\nselected_endpoint = (selected_node or {}).get('endpoint')\nif selected_endpoint and creation_node:\n    lhs = str(selected_endpoint).strip().rstrip('/')\n    rhs = str(creation_node).strip().rstrip('/')\n    if lhs != rhs:\n        raise Exception(\n            f\"Target creation node mismatch: selected endpoint '{lhs}' != actual sync endpoint '{rhs}'.\"\n        )\n\nnormalized_mapping = {}\nwf_d_payload = []\nif isinstance(target_mapping, dict):\n    for dojo_product_id, acunetix_target_id in target_mapping.items():\n        dojo_product_id = str(dojo_product_id or '').strip()\n        acunetix_target_id = str(acunetix_target_id or '').strip()\n        if not dojo_product_id or not acunetix_target_id:\n            continue\n        row = {\n            'dojo_product_id': dojo_product_id,\n            'acunetix_target_id': acunetix_target_id,\n            'target_id': acunetix_target_id,\n            'pt_id': pt_id,\n        }\n        normalized_mapping[dojo_product_id] = row\n        wf_d_payload.append({\n            'pt_id': pt_id,\n            'product_id': dojo_product_id,\n            'target_id': acunetix_target_id,\n            'acunetix_target_id': acunetix_target_id,\n            'selected_acu_node': selected_node,\n        })\n\nmapping_file = (os.environ.get('ACUNETIX_TARGET_MAPPING_FILE') or '/tmp/acunetix_dojo_target_mapping.json').strip()\npt_node_mapping_file = (os.environ.get('ACUNETIX_PT_NODE_MAPPING_FILE') or '/tmp/acunetix_pt_node_mapping.json').strip()\nmapping_merge_report = {\n    'before_merge_count': 0,\n    'after_merge_count': 0,\n    'removed_for_current_pt_count': 0,\n    'upserted_current_pt_count': len(normalized_mapping),\n    'pt_id': pt_id,\n}\nmapping_output = {'items': {}}\nif mapping_file:\n    try:\n        existing_items = {}\n        if os.path.exists(mapping_file):\n            with open(mapping_file, 'r', encoding='utf-8') as f:\n                loaded = json.load(f)\n                if isinstance(loaded, dict) and isinstance(loaded.get('items'), dict):\n                    existing_items = loaded.get('items')\n\n        merged_items = dict(existing_items)\n        mapping_merge_report['before_merge_count'] = len(existing_items)\n\n        if pt_id_str:\n            to_remove = []\n            for product_id, row in merged_items.items():\n                row_pt_id = str(row.get('pt_id')) if isinstance(row, dict) and row.get('pt_id') is not None else ''\n                if row_pt_id and row_pt_id == pt_id_str:\n                    to_remove.append(product_id)\n            for product_id in to_remove:\n                merged_items.pop(product_id, None)\n            mapping_merge_report['removed_for_current_pt_count'] = len(to_remove)\n\n        for product_id, row in normalized_mapping.items():\n            merged_items[product_id] = row\n\n        mapping_output = {'items': merged_items}\n        mapping_merge_report['after_merge_count'] = len(merged_items)\n\n        with open(mapping_file, 'w', encoding='utf-8') as f:\n            json.dump(mapping_output, f, ensure_ascii=False, indent=2)\n    except Exception as e:\n        raise Exception(f\"Не удалось сохранить mapping в {mapping_file}: {e}\")\n\npt_node_mapping_output = {'items': {}}\nif pt_node_mapping_file:\n    try:\n        existing = {}\n        if os.path.exists(pt_node_mapping_file):\n            with open(pt_node_mapping_file, 'r', encoding='utf-8') as f:\n                loaded = json.load(f)\n                if isinstance(loaded, dict) and isinstance(loaded.get('items'), dict):\n                    existing = loaded.get('items')\n        updated_items = dict(existing)\n        if pt_id is not None and isinstance(selected_node, dict) and selected_node.get('endpoint') and (selected_node.get('api_key') or selected_node.get('token')):\n            updated_items[str(pt_id)] = {\n                'endpoint': selected_node.get('endpoint'),\n                'api_key': selected_node.get('api_key') or selected_node.get('token'),\n                'token': selected_node.get('token') or selected_node.get('api_key'),\n                'name': selected_node.get('name') or 'acu-selected',\n                'saved_at': parsed.get('debug', {}).get('synced_at') or None,\n            }\n        pt_node_mapping_output = {'items': updated_items}\n        with open(pt_node_mapping_file, 'w', encoding='utf-8') as f:\n            json.dump(pt_node_mapping_output, f, ensure_ascii=False, indent=2)\n    except Exception as e:\n        raise Exception(f\"Не удалось сохранить PT node mapping в {pt_node_mapping_file}: {e}\")\n\nreturn [{\n    \"json\": {\n        \"pt_id\": pt_id,\n        \"selected_acu_node\": selected_node,\n        \"group_id\": parsed.get(\"group_id\"),\n        \"target_mapping\": normalized_mapping,\n        \"dojo_product_to_acunetix_target_mapping\": normalized_mapping,\n        \"mapping_output\": mapping_output,\n        \"mapping_merge_report\": mapping_merge_report,\n        \"target_mapping_file\": mapping_file,\n        \"pt_node_mapping_file\": pt_node_mapping_file,\n        \"pt_node_mapping_output\": pt_node_mapping_output,\n        \"creation_node_check\": {\n            \"selected_endpoint\": selected_endpoint,\n            \"sync_endpoint\": creation_node,\n            \"match\": (str(selected_endpoint).strip().rstrip('/') == str(creation_node).strip().rstrip('/')) if selected_endpoint and creation_node else None,\n        },\n        \"wf_d_payload\": wf_d_payload,\n        \"full_output\": parsed\n    }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "4c48ade9-718e-405b-89c1-1beab80ed6e0",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "item = $json\nraw = item.get('product_type_id')\n\ntry:\n    product_type_id = int(raw)\nexcept Exception:\n    raise Exception(f'product_type_id is missing or invalid: {raw}')\n\nif product_type_id <= 0:\n    raise Exception(f'product_type_id must be > 0, got: {raw}')\n\nreturn [{\n    'json': {\n        **item,\n        'product_type_id': product_type_id\n    }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "c-validate-product-type-id",
      "name": "Validate Product Type ID"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "item = $json\npt_id = item.get('pt_id', item.get('product_type_id'))\n\nincoming_selected_node = item.get('selected_acu_node') if isinstance(item.get('selected_acu_node'), dict) else None\n\nif not incoming_selected_node:\n    raise Exception(f'WF_C_Targets_For_PT stage config error (pt_id={pt_id}): selected_acu_node is required in orchestrator payload.')\n\nendpoint = (\n    item.get('acunetix_endpoint')\n    or incoming_selected_node.get('endpoint')\n    or ''\n).strip()\napi_key = (\n    item.get('acunetix_api_key')\n    or item.get('acunetix_token')\n    or incoming_selected_node.get('api_key')\n    or incoming_selected_node.get('token')\n    or ''\n).strip()\nnode_name = (\n    item.get('acunetix_node_name')\n    or incoming_selected_node.get('name')\n    or ''\n).strip()\n\nif not endpoint:\n    raise Exception(f'WF_C_Targets_For_PT stage config error (pt_id={pt_id}): acunetix_endpoint is required. Pass selected node endpoint from orchestrator payload.')\nif not api_key:\n    raise Exception(f'WF_C_Targets_For_PT stage config error (pt_id={pt_id}): Acunetix API key is empty in orchestrator payload.')\n\nselected_node = {\n    'endpoint': endpoint,\n    'api_key': api_key,\n    'token': api_key,\n    'name': node_name or 'acu-selected',\n}\n\nreturn [{\n    'json': {\n        **item,\n        'pt_id': item.get('pt_id', item.get('product_type_id')),\n        'selected_acu_node': selected_node,\n        'acunetix_endpoint': endpoint,\n        'acunetix_api_key': api_key,\n        'acunetix_token': api_key,\n        'acunetix_node_name': selected_node['name'],\n        'acu_node_source': 'orchestrator_payload',\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        0
      ],
      "id": "c-validate-acunetix-node",
      "name": "Validate Acunetix Node"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Validate Product Type ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Sync Acunetix Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Acunetix Group": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Product Type ID": {
      "main": [
        [
          {
            "node": "Validate Acunetix Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Acunetix Node": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f219f7ce-7867-484a-8806-8e183d70eba5",
  "meta": {
    "instanceId": "d06b9c37a455942c350bdf64d5764dfb5548ea5097bfb316251734323f35ea3f"
  },
  "id": "OsOBICmnEtSDo8Sm",
  "tags": []
}
