WF_C_Targets_For_PT.json
{
  "name": "WF_C_Targets_For_PT",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8881a7ec-1878-4e10-94c8-6838f00aaacc"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "product_type_id",
              "value": "={{ $json.product_type_id }}"
            },
            {
              "name": "acunetix_endpoint",
              "value": "={{ $json.acunetix_endpoint || $json.selected_acu_node?.endpoint || '' }}"
            },
            {
              "name": "acunetix_api_key",
              "value": "={{ $json.selected_acu_node?.api_key || $json.selected_acu_node?.token || '' }}"
            },
            {
              "name": "acunetix_token",
              "value": "={{ $json.selected_acu_node?.token || $json.selected_acu_node?.api_key || '' }}"
            },
            {
              "name": "acunetix_node_name",
              "value": "={{ $json.acunetix_node_name || $json.selected_acu_node?.name || '' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "b60803c9-c7f8-4192-a02d-c71c6095580b"
    },
    {
      "parameters": {
        "command": "=DOJO_API_TOKEN=\"{{$env.DOJO_API_TOKEN}}\" \\\npython3 /opt/tools/process_nmap_ips_for_pt.py \\\n  --product-type-id {{$json[\"product_type_id\"].toString()}} \\\n  --xml-dir /tmp \\\n  --api-token \"$DOJO_API_TOKEN\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "3762ce5b-c66a-4a26-9b9f-83c039540cca",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "command": "=python3 /opt/tools/acunetix_sync_pt.py \\\n  --dojo-base-url {{$env.DOJO_BASE_URL || 'http://localhost:8080/api/v2'}} \\\n  --dojo-api-token {{$env.DOJO_API_TOKEN}} \\\n  --product-type-id {{ $('Set Parameters').item.json.product_type_id }} \\\n  --acu-node-json '{{ JSON.stringify($(\"Validate Acunetix Node\").item.json.selected_acu_node) }}'\n "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "2381b203-8544-4e50-a98f-0cfb818f3235",
      "name": "Sync Acunetix Group"
    },
    {
      "parameters": {
        "command": "=python3 /opt/tools/acunetix_set_group_scan_speed.py \\\n  --acu-node-json '{{ JSON.stringify($(\"Validate Acunetix Node\").item.json.selected_acu_node) }}' \\\n  --group-id {{ $json.group_id }} \\\n  --scan-speed sequential\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "d7566881-9c82-4564-8538-2546bf40e85d",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport os\nimport sqlite3\nfrom datetime import datetime, timezone\n\nitem = items[0]\ncontext = item.get(\"json\", {})\nstdout = context.get(\"stdout\", \"\")\n\ntry:\n    parsed = json.loads(stdout)\nexcept Exception as e:\n    raise Exception(f\"Не удалось распарсить stdout как JSON\\n{stdout}\\nОшибка: {e}\")\n\npt_id = context.get('pt_id', context.get('product_type_id'))\npt_id_str = str(pt_id) if pt_id is not None else ''\nMAPPING_DB_PATH = (os.environ.get('ACUNETIX_MAPPING_DB') or '/data/n8n/acunetix_mapping_store.sqlite3').strip()\nif not MAPPING_DB_PATH.startswith('/data/'):\n    raise Exception(f\"ACUNETIX_MAPPING_DB must point to /data/... (got: {MAPPING_DB_PATH})\")\nmapping_backend = {'backend': 'sqlite', 'path': MAPPING_DB_PATH, 'role': 'required'}\n\ndef now_iso():\n    return datetime.now(timezone.utc).isoformat()\n\ndef init_db(conn):\n    conn.execute(\"\"\"\n        CREATE TABLE IF NOT EXISTS acunetix_mapping (\n            pt_id TEXT NOT NULL,\n            product_id TEXT NOT NULL,\n            selected_acu_node TEXT,\n            target_id TEXT,\n            updated_at TEXT NOT NULL,\n            PRIMARY KEY (pt_id, product_id)\n        )\n    \"\"\")\n\ndef nodes_equal(lhs, rhs):\n    return isinstance(lhs, dict) and isinstance(rhs, dict) and (lhs.get('endpoint') or '') == (rhs.get('endpoint') or '') and (lhs.get('name') or '') == (rhs.get('name') or '')\n\nselected_node = context.get('selected_acu_node') if isinstance(context.get('selected_acu_node'), dict) else None\ntarget_mapping = parsed.get(\"target_mapping\", {})\ncreation_node = str(parsed.get('debug', {}).get('acu_base_url') or '').strip().rstrip('/')\nselected_endpoint = str((selected_node or {}).get('endpoint') or '')\nif selected_endpoint and creation_node and selected_endpoint != creation_node:\n    raise Exception(f\"Target creation node mismatch: selected endpoint '{selected_endpoint}' != actual sync endpoint '{creation_node}'.\")\n\nnormalized_mapping = {}\nwf_d_payload = []\nif isinstance(target_mapping, dict):\n    for dojo_product_id, acunetix_target_id in target_mapping.items():\n        dojo_product_id = str(dojo_product_id or '').strip()\n        acunetix_target_id = str(acunetix_target_id or '').strip()\n        if not dojo_product_id or not acunetix_target_id:\n            continue\n        row = {'dojo_product_id': dojo_product_id, 'acunetix_target_id': acunetix_target_id, 'target_id': acunetix_target_id, 'pt_id': pt_id}\n        normalized_mapping[dojo_product_id] = row\n        wf_d_payload.append({'pt_id': pt_id, 'product_id': dojo_product_id, 'target_id': acunetix_target_id, 'acunetix_target_id': acunetix_target_id, 'selected_acu_node': selected_node})\n\nupserted = 0\npt_node_reconcile = {'status': 'noop', 'event': None}\nif MAPPING_DB_PATH:\n    try:\n        conn = sqlite3.connect(MAPPING_DB_PATH, timeout=30)\n        with conn:\n            init_db(conn)\n            if pt_id_str and selected_node:\n                prev = conn.execute(\"SELECT selected_acu_node FROM acunetix_mapping WHERE pt_id=? AND selected_acu_node IS NOT NULL ORDER BY updated_at DESC LIMIT 1\", (pt_id_str,)).fetchone()\n                if prev and prev[0]:\n                    try:\n                        prev_node = json.loads(prev[0])\n                    except Exception:\n                        prev_node = None\n                    if prev_node and not nodes_equal(prev_node, selected_node):\n                        pt_node_reconcile = {'status': 'reconciled', 'event': {'stage': 'wf_c_targets_for_pt', 'pt_id': pt_id, 'message': 'PT→Acunetix node cache mismatch detected; synchronized from runtime node.', 'primary': {'endpoint': selected_node.get('endpoint'), 'name': selected_node.get('name')}, 'secondary_before': {'endpoint': prev_node.get('endpoint'), 'name': prev_node.get('name')}}}\n            ts = now_iso()\n            for product_id, row in normalized_mapping.items():\n                conn.execute(\"INSERT INTO acunetix_mapping(pt_id,product_id,selected_acu_node,target_id,updated_at) VALUES(?,?,?,?,?) ON CONFLICT(pt_id,product_id) DO UPDATE SET selected_acu_node=excluded.selected_acu_node,target_id=excluded.target_id,updated_at=excluded.updated_at\", (pt_id_str, str(product_id), json.dumps(selected_node, ensure_ascii=False) if selected_node else None, str(row.get('target_id') or ''), ts))\n                upserted += 1\n        conn.close()\n    except Exception as e:\n        raise Exception(f\"Не удалось сохранить mapping в SQLite {MAPPING_DB_PATH}: {e}\")\n\nreturn [{\"json\": {\"pt_id\": pt_id, \"selected_acu_node\": selected_node, \"group_id\": parsed.get(\"group_id\"), \"target_mapping\": normalized_mapping, \"dojo_product_to_acunetix_target_mapping\": normalized_mapping, \"mapping_output\": {\"backend\": mapping_backend.get(\"backend\"), \"db_path\": MAPPING_DB_PATH, \"role\": mapping_backend.get(\"role\"), \"upserted\": upserted}, \"target_mapping_store\": MAPPING_DB_PATH, \"pt_node_reconcile\": pt_node_reconcile, \"creation_node_check\": {\"selected_endpoint\": selected_endpoint, \"sync_endpoint\": creation_node or None, \"match\": (selected_endpoint == creation_node) if selected_endpoint and creation_node else None}, \"wf_d_payload\": wf_d_payload, \"sync_summary\": {\"group_id\": parsed.get(\"group_id\"), \"mapped_targets\": len(normalized_mapping), \"has_debug\": isinstance(parsed.get(\"debug\"), dict)}}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "4c48ade9-718e-405b-89c1-1beab80ed6e0",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Number($json.product_type_id) > 0 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "c-validate-product-type-id",
      "name": "Validate Product Type ID"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.acunetix_endpoint && (!!$json.acunetix_api_key || !!$json.acunetix_token) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "id": "c-validate-acunetix-node",
      "name": "Validate Acunetix Node"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "pt_id",
              "value": "={{ $json.pt_id || $json.product_type_id }}"
            },
            {
              "name": "acunetix_endpoint",
              "value": "={{ (($json.acunetix_endpoint || $json.selected_acu_node?.endpoint || \"\").toString()).trim().replace(/\\/+$/, \"\") }}"
            },
            {
              "name": "acunetix_node_name",
              "value": "={{ (($json.acunetix_node_name || $json.selected_acu_node?.name || \"acu-selected\").toString()).trim() || \"acu-selected\" }}"
            },
            {
              "name": "acunetix_api_key",
              "value": "={{ (($json.acunetix_api_key || $json.api_key || $json.token || $json.selected_acu_node?.api_key || $json.selected_acu_node?.token || \"\").toString()).trim() }}"
            },
            {
              "name": "acunetix_token",
              "value": "={{ (($json.acunetix_token || $json.token || $json.api_key || $json.selected_acu_node?.token || $json.selected_acu_node?.api_key || \"\").toString()).trim() }}"
            }
          ],
          "object": [
            {
              "name": "selected_acu_node",
              "value": {
                "endpoint": "={{ (($json.acunetix_endpoint || $json.selected_acu_node?.endpoint || \"\").toString()).trim().replace(/\\/+$/, \"\") }}",
                "name": "={{ (($json.acunetix_node_name || $json.selected_acu_node?.name || \"acu-selected\").toString()).trim() || \"acu-selected\" }}",
                "api_key": "={{ (($json.acunetix_api_key || $json.api_key || $json.token || $json.selected_acu_node?.api_key || $json.selected_acu_node?.token || \"\").toString()).trim() }}",
                "token": "={{ (($json.acunetix_token || $json.token || $json.api_key || $json.selected_acu_node?.token || $json.selected_acu_node?.api_key || \"\").toString()).trim() }}",
                "weight": "={{ Number($json.selected_acu_node?.weight || 1) > 0 ? Number($json.selected_acu_node?.weight || 1) : 1 }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c-normalize-acunetix-node",
      "name": "Normalize Acunetix Node",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "message": "=product_type_id must be a positive integer, got: {{$json.product_type_id}}"
      },
      "id": "c-error-product-type-id",
      "name": "Invalid product_type_id",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        500,
        180
      ]
    },
    {
      "parameters": {
        "message": "=WF_C_Targets_For_PT: missing required fields. endpoint=\"{{$json.acunetix_endpoint || \"\"}}\", api_key/token provided={{ !!$json.acunetix_api_key || !!$json.acunetix_token }}."
      },
      "id": "c-error-acu-node",
      "name": "Invalid Acunetix Node Input",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        920,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Validate Product Type ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Sync Acunetix Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Acunetix Group": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Product Type ID": {
      "main": [
        [
          {
            "node": "Normalize Acunetix Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid product_type_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Acunetix Node": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Acunetix Node Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Acunetix Node": {
      "main": [
        [
          {
            "node": "Validate Acunetix Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f219f7ce-7867-484a-8806-8e183d70eba5",
  "meta": {
    "instanceId": "d06b9c37a455942c350bdf64d5764dfb5548ea5097bfb316251734323f35ea3f"
  },
  "id": "OsOBICmnEtSDo8Sm",
  "tags": []
}
