WF_D_ProductScan.json
{
  "name": "WF_D_ProductScan",
  "nodes": [
    {
      "parameters": {},
      "id": "p-trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1320,
        220
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "trigger = $node['Trigger'].json if isinstance($node['Trigger'].json, dict) else {}\n\nselected = trigger.get('selected_acu_node') if isinstance(trigger.get('selected_acu_node'), dict) else {}\nendpoint = str(selected.get('endpoint') or trigger.get('acunetix_endpoint') or '').strip().rstrip('/')\napi_key = str(selected.get('api_key') or selected.get('token') or trigger.get('acunetix_api_key') or trigger.get('acunetix_token') or '').strip()\nnode_name = str(selected.get('name') or trigger.get('acunetix_node_name') or 'acu-selected').strip()\n\nif not endpoint:\n    raise Exception('acunetix_endpoint is required for WF_D_ProductScan stage')\nif not api_key:\n    raise Exception('WF_D_ProductScan stage config error: Acunetix API key is empty. Set ACUNETIX_API_KEY (temporary fallback: ACU_API_TOKEN).')\n\nreturn [{\n    'json': {\n        **trigger,\n        'selected_acu_node': {\n            'name': node_name,\n            'endpoint': endpoint,\n            'api_key': api_key,\n            'token': api_key,\n        },\n        'acunetix_node_name': node_name,\n        'acunetix_endpoint': endpoint,\n        'acunetix_api_key': api_key,\n        'acunetix_token': api_key,\n    }\n}]"
      },
      "id": "p-validate-node",
      "name": "Validate Acunetix Node Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1220,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/products/' + $json.product_id + '/' }}",
        "options": {}
      },
      "id": "p-product",
      "name": "Get Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1020,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ (($node['Validate Acunetix Node Input'].json.acunetix_endpoint || '')).replace(/\\/+$/,'') + '/api/v1/scans?l=100&q=' + encodeURIComponent($json.name) }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Validate Acunetix Node Input'].json.acunetix_api_key || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "p-existing",
      "name": "Check Existing Acunetix Scans",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -820,
        220
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\ntrigger = $node['Validate Acunetix Node Input'].json or {}\nproduct = $node['Get Product'].json\nexisting = $json.get('scans', []) or []\n\nselected = trigger.get('selected_acu_node') if isinstance(trigger.get('selected_acu_node'), dict) else {}\nendpoint = str(selected.get('endpoint') or trigger.get('acunetix_endpoint') or '').strip().rstrip('/')\ntoken = str(selected.get('api_key') or selected.get('token') or trigger.get('acunetix_api_key') or trigger.get('acunetix_token') or '').strip()\nnode_name = str(selected.get('name') or trigger.get('acunetix_node_name') or 'acu-selected').strip()\n\nif not endpoint or not token:\n    raise Exception('WF_D_ProductScan stage config error: selected_acu_node (endpoint/api_key/name) is required from orchestrator')\n\nraw_pt_id = trigger.get('pt_id', trigger.get('product_type_id'))\ntry:\n    pt_id = int(raw_pt_id)\nexcept Exception:\n    raise Exception(f\"pt_id is required and must be integer, got: {raw_pt_id}\")\n\nraw_target_id = trigger.get('target_id')\ntarget_id = str(raw_target_id or '').strip()\nif not target_id:\n    raise Exception(f\"target_id is required for product {product.get('id')}\")\nif not re.fullmatch(r'[0-9a-fA-F-]{36}', target_id):\n    raise Exception(f\"target_id has invalid format: {target_id}\")\n\nbase_payload = {\n    'pt_id': pt_id,\n    'product_id': product.get('id'),\n    'product_name': product.get('name'),\n    'acunetix_node_name': node_name,\n    'acunetix_endpoint': endpoint,\n    'acunetix_api_key': token,\n    'acunetix_token': token,\n    'selected_acu_node': {'name': node_name, 'endpoint': endpoint, 'api_key': token, 'token': token},\n    'target_id': target_id,\n}\n\nfor s in existing:\n    status = (s.get('current_session') or {}).get('status', '')\n    if status in ['processing', 'scheduled', 'queued', 'starting']:\n        return [{'json': {\n            **base_payload,\n            'skip': True,\n            'reason': 'scan already active',\n            'scan_id': s.get('scan_id'),\n        }}]\n\nreturn [{'json': {\n    **base_payload,\n    'skip': False,\n    'target_url': f\"https://{product.get('name')}\",\n}}]"
      },
      "id": "p-gate",
      "name": "Duplicate Guard (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}"
            }
          ]
        }
      },
      "id": "p-if-skip",
      "name": "Skip new launch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -500,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.acunetix_endpoint || '').replace(/\\/+$/,'') + '/api/v1/scans' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"target_id\": $node['Duplicate Guard (Python)'].json.target_id, \"profile_id\": \"11111111-1111-1111-1111-111111111111\", \"schedule\": {\"disable\": false, \"start_date\": null, \"time_sensitive\": false}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $json.acunetix_api_key || $json.acunetix_token || '' }}"
            }
          ]
        }
      },
      "id": "p-start",
      "name": "Start Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        120
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import time\nitem = dict($json)\nitem['started_at_epoch'] = int(time.time())\nitem['poll_count'] = 0\nitem['max_poll_count'] = 40\nreturn [{ 'json': item }]"
      },
      "id": "p-init-poll",
      "name": "Init Poll Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        120
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "p-wait",
      "name": "Polling Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -80,
        120
      ]
    },
    {
      "parameters": {
        "url": "={{ ($node['Duplicate Guard (Python)'].json.acunetix_endpoint || '').replace(/\\/+$/,'') + '/api/v1/scans/' + $node['Start Scan'].json.scan_id }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Duplicate Guard (Python)'].json.acunetix_api_key || $node['Duplicate Guard (Python)'].json.acunetix_token || '' }}"
            }
          ]
        }
      },
      "id": "p-status",
      "name": "Get Scan Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        120,
        120
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import time\ns = ($json.get('current_session') or {})\nstatus = s.get('status', '')\nfinished = status in ['completed', 'failed', 'aborted']\npoll_count = len(_(\"Get Scan Status\").all())\ninit = _(\"Init Poll Context\").first().json if len(_(\"Init Poll Context\").all()) else {}\nstarted_at_epoch = int(init.get('started_at_epoch', int(time.time())))\nmax_poll_count = int(init.get('max_poll_count', 40))\ntimed_out = (not finished) and poll_count >= max_poll_count\nreturn [{ 'json': { 'status': status, 'finished': finished, 'timed_out': timed_out, 'poll_count': poll_count, 'max_poll_count': max_poll_count, 'started_at_epoch': started_at_epoch } }]"
      },
      "id": "p-check",
      "name": "Check Finished (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.finished || $json.timed_out }}"
            }
          ]
        }
      },
      "id": "p-if-finished",
      "name": "Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.timed_out }}"
            }
          ]
        }
      },
      "id": "p-if-timeout",
      "name": "Timed out?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "message": "=Scan polling timed out after {{$json.poll_count}} checks (limit {{$json.max_poll_count}})."
      },
      "id": "p-timeout-error",
      "name": "Timeout Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        900,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($node['Duplicate Guard (Python)'].json.acunetix_endpoint || '').replace(/\\/+$/,'') + '/api/v1/reports' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"template_id\": \"11111111-1111-1111-1111-111111111111\", \"source\": {\"list_type\": \"scans\", \"id_list\": [$node['Start Scan'].json.scan_id]}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Duplicate Guard (Python)'].json.acunetix_api_key || $node['Duplicate Guard (Python)'].json.acunetix_token || '' }}"
            }
          ]
        }
      },
      "id": "p-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        120
      ]
    },
    {
      "parameters": {
        "url": "={{ ($node['Duplicate Guard (Python)'].json.acunetix_endpoint || '').replace(/\\/+$/,'') + '/api/v1/reports/' + $json.report_id + '/download' }}",
        "responseFormat": "file",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Duplicate Guard (Python)'].json.acunetix_api_key || $node['Duplicate Guard (Python)'].json.acunetix_token || '' }}"
            }
          ]
        }
      },
      "id": "p-export",
      "name": "Export XML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/import-scan/' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "scan_type",
              "value": "Acunetix Scan"
            },
            {
              "name": "product",
              "value": "={{ $node['Duplicate Guard (Python)'].json.product_id }}"
            },
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "verified",
              "value": "true"
            },
            {
              "name": "minimum_severity",
              "value": "Info"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "auto_create_context",
              "value": "true"
            }
          ]
        }
      },
      "id": "p-import",
      "name": "Import XML to DefectDojo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Validate Acunetix Node Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product": {
      "main": [
        [
          {
            "node": "Check Existing Acunetix Scans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Acunetix Scans": {
      "main": [
        [
          {
            "node": "Duplicate Guard (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Guard (Python)": {
      "main": [
        [
          {
            "node": "Skip new launch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip new launch?": {
      "main": [
        [],
        [
          {
            "node": "Start Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Scan": {
      "main": [
        [
          {
            "node": "Init Poll Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polling Wait": {
      "main": [
        [
          {
            "node": "Get Scan Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scan Status": {
      "main": [
        [
          {
            "node": "Check Finished (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Finished (Python)": {
      "main": [
        [
          {
            "node": "Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finished?": {
      "main": [
        [
          {
            "node": "Timed out?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Polling Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Export XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export XML": {
      "main": [
        [
          {
            "node": "Import XML to DefectDojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Poll Context": {
      "main": [
        [
          {
            "node": "Polling Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timed out?": {
      "main": [
        [
          {
            "node": "Timeout Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Acunetix Node Input": {
      "main": [
        [
          {
            "node": "Get Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
