WF_D_ProductScan.json
{
  "name": "WF_D_ProductScan",
  "nodes": [
    {
      "parameters": {},
      "id": "p-trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1320,
        220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "acunetix_endpoint",
              "value": "={{ (($json.selected_acu_node?.endpoint || $json.acunetix_endpoint || \"\").toString()).trim().replace(/\\/+$/, \"\") }}"
            },
            {
              "name": "acunetix_node_name",
              "value": "={{ (($json.selected_acu_node?.name || $json.acunetix_node_name || \"acu-selected\").toString()).trim() || \"acu-selected\" }}"
            },
            {
              "name": "acunetix_api_key",
              "value": "={{ (() => { const endpoint=((($json.selected_acu_node?.endpoint || $json.acunetix_endpoint || '').toString()).trim().replace(/\\/+$/, '')); const name=(($json.selected_acu_node?.name || $json.acunetix_node_name || 'acu-selected').toString()).trim(); const raw=($env.ACUNETIX_INSTANCES_JSON || '').trim(); if (raw) { try { const arr=JSON.parse(raw); if (Array.isArray(arr)) { const hit=arr.find((it)=>{ if(!it || typeof it!=='object') return false; const ep=((it.endpoint || '').toString().trim().replace(/\\/+$/, '')); const nm=((it.name || '').toString().trim()); return (endpoint && ep===endpoint) || (name && nm && nm===name); }); const token=((hit?.api_key || hit?.token || '').toString()).trim(); if (token) return token; } } catch(e) {} } return (($env.ACUNETIX_API_KEY || $env.ACU_API_TOKEN || '').toString()).trim(); })() }}"
            },
            {
              "name": "acunetix_token",
              "value": "={{ (() => { const endpoint=((($json.selected_acu_node?.endpoint || $json.acunetix_endpoint || '').toString()).trim().replace(/\\/+$/, '')); const name=(($json.selected_acu_node?.name || $json.acunetix_node_name || 'acu-selected').toString()).trim(); const raw=($env.ACUNETIX_INSTANCES_JSON || '').trim(); if (raw) { try { const arr=JSON.parse(raw); if (Array.isArray(arr)) { const hit=arr.find((it)=>{ if(!it || typeof it!=='object') return false; const ep=((it.endpoint || '').toString().trim().replace(/\\/+$/, '')); const nm=((it.name || '').toString().trim()); return (endpoint && ep===endpoint) || (name && nm && nm===name); }); const token=((hit?.api_key || hit?.token || '').toString()).trim(); if (token) return token; } } catch(e) {} } return (($env.ACUNETIX_API_KEY || $env.ACU_API_TOKEN || '').toString()).trim(); })() }}"
            },
            {
              "name": "target_id",
              "value": "={{ (($json.target_id || $json.acunetix_target_id || \"\").toString()).trim() }}"
            },
            {
              "name": "acunetix_target_id",
              "value": "={{ (($json.acunetix_target_id || $json.target_id || \"\").toString()).trim() }}"
            }
          ],
          "object": [
            {
              "name": "selected_acu_node",
              "value": {
                "name": "={{ $json.selected_acu_node?.name || $json.acunetix_node_name || \"acu-selected\" }}",
                "endpoint": "={{ (($json.selected_acu_node?.endpoint || $json.acunetix_endpoint || \"\").toString()).trim().replace(/\\/+$/, \"\") }}",
                "weight": "={{ Number($json.selected_acu_node?.weight || 1) > 0 ? Number($json.selected_acu_node?.weight || 1) : 1 }}"
              }
            }
          ],
          "number": [
            {
              "name": "pt_id",
              "value": "={{ Number($json.pt_id || $json.product_type_id || 0) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "p-validate-node",
      "name": "Validate Acunetix Node Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1220,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/products/' + $json.product_id + '/' }}",
        "options": {}
      },
      "id": "p-product",
      "name": "Get Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1020,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ (($node['Validate Acunetix Node Input'].json.acunetix_endpoint || '')).replace(/\\/+$/,'') + '/api/v1/scans?l=100&q=' + encodeURIComponent($json.name) }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Validate Acunetix Node Input'].json.acunetix_api_key || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "p-existing",
      "name": "Check Existing Acunetix Scans",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -820,
        220
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "current_item = _input.first()\ncurrent = current_item.json if current_item and isinstance(current_item.json, dict) else {}\nexisting = current.get('scans', []) or []\n\nfor s in existing:\n    status = (s.get('current_session') or {}).get('status', '')\n    if status in ['processing', 'scheduled', 'queued', 'starting']:\n        return [{'json': {\n            'skip': True,\n            'reason': 'scan already active',\n            'scan_id': s.get('scan_id'),\n        }}]\n\nreturn [{'json': {\n    'skip': False,\n}}]"
      },
      "id": "p-gate",
      "name": "Duplicate Guard (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}"
            }
          ]
        }
      },
      "id": "p-if-skip",
      "name": "Skip new launch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -500,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.acunetix_endpoint || '').replace(/\\/+$/,'') + '/api/v1/scans' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"target_id\": $node['Finalize Scan Payload Contract'].json.acunetix_target_id, \"profile_id\": \"11111111-1111-1111-1111-111111111111\", \"schedule\": {\"disable\": false, \"start_date\": null, \"time_sensitive\": false}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Validate Acunetix Node Input'].json.acunetix_api_key || '' }}"
            }
          ]
        }
      },
      "id": "p-start",
      "name": "Start Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        120
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "number": [
            {
              "name": "started_at_epoch",
              "value": "={{ Math.floor(Date.now() / 1000) }}"
            },
            {
              "name": "poll_count",
              "value": 0
            },
            {
              "name": "max_poll_count",
              "value": 40
            }
          ]
        },
        "options": {}
      },
      "id": "p-init-poll",
      "name": "Init Poll Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        120
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "p-wait",
      "name": "Polling Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -80,
        120
      ]
    },
    {
      "parameters": {
        "url": "={{ ($node['Finalize Scan Payload Contract'].json.acunetix_endpoint || '').replace(/\\/+$/,'') + '/api/v1/scans/' + $node['Start Scan'].json.scan_id }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Validate Acunetix Node Input'].json.acunetix_api_key || '' }}"
            }
          ]
        }
      },
      "id": "p-status",
      "name": "Get Scan Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        120,
        120
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import time\ncurrent_item = _input.first()\ncurrent = current_item.json if current_item and isinstance(current_item.json, dict) else {}\ns = (current.get('current_session') or {})\nstatus = s.get('status', '')\nfinished = status in ['completed', 'failed', 'aborted']\npoll_count = len(_(\"Get Scan Status\").all())\ninit_item = _(\"Init Poll Context\").first()\ninit = init_item.json if init_item and isinstance(init_item.json, dict) else {}\nstarted_at_epoch = int(init.get('started_at_epoch', int(time.time())))\nmax_poll_count = int(init.get('max_poll_count', 40))\ntimed_out = (not finished) and poll_count >= max_poll_count\nreturn [{ 'json': { 'status': status, 'finished': finished, 'timed_out': timed_out, 'poll_count': poll_count, 'max_poll_count': max_poll_count, 'started_at_epoch': started_at_epoch } }]"
      },
      "id": "p-check",
      "name": "Check Finished (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.finished || $json.timed_out }}"
            }
          ]
        }
      },
      "id": "p-if-finished",
      "name": "Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.timed_out }}"
            }
          ]
        }
      },
      "id": "p-if-timeout",
      "name": "Timed out?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "message": "=Scan polling timed out after {{$json.poll_count}} checks (limit {{$json.max_poll_count}})."
      },
      "id": "p-timeout-error",
      "name": "Timeout Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        900,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($node['Finalize Scan Payload Contract'].json.acunetix_endpoint || '').replace(/\\/+$/,'') + '/api/v1/reports' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"template_id\": \"11111111-1111-1111-1111-111111111111\", \"source\": {\"list_type\": \"scans\", \"id_list\": [$node['Start Scan'].json.scan_id]}}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Validate Acunetix Node Input'].json.acunetix_api_key || '' }}"
            }
          ]
        }
      },
      "id": "p-report",
      "name": "Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        120
      ]
    },
    {
      "parameters": {
        "url": "={{ ($node['Duplicate Guard (Python)'].json.acunetix_endpoint || '').replace(/\\/+$/,'') + '/api/v1/reports/' + $json.report_id + '/download' }}",
        "responseFormat": "file",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $node['Validate Acunetix Node Input'].json.acunetix_api_key || '' }}"
            }
          ]
        }
      },
      "id": "p-export",
      "name": "Export XML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/import-scan/' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "scan_type",
              "value": "Acunetix Scan"
            },
            {
              "name": "product",
              "value": "={{ $node['Finalize Scan Payload Contract'].json.product_id }}"
            },
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "verified",
              "value": "true"
            },
            {
              "name": "minimum_severity",
              "value": "Info"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "auto_create_context",
              "value": "true"
            }
          ]
        }
      },
      "id": "p-import",
      "name": "Import XML to DefectDojo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.acunetix_endpoint && !!$json.acunetix_api_key }}"
            }
          ]
        }
      },
      "id": "p-if-required-node-fields",
      "name": "Validate Required Node Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -980,
        220
      ]
    },
    {
      "parameters": {
        "message": "=WF_D_ProductScan requires selected_acu_node.endpoint and runtime token resolution via ACUNETIX_INSTANCES_JSON or ACUNETIX_API_KEY/ACU_API_TOKEN."
      },
      "id": "p-error-required-node-fields",
      "name": "Missing Acunetix Node Fields",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -820,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ Number.isInteger($json.pt_id) && $json.pt_id > 0 }}"
            }
          ]
        }
      },
      "id": "p-if-valid-pt-id",
      "name": "Validate PT ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -860,
        220
      ]
    },
    {
      "parameters": {
        "message": "=WF_D_ProductScan requires pt_id/product_type_id as a positive integer. Got: {{$json.pt_id || $json.product_type_id}}"
      },
      "id": "p-error-pt-id",
      "name": "Invalid PT ID",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -700,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$/.test($json.target_id || '') }}"
            }
          ]
        }
      },
      "id": "p-if-valid-target-id",
      "name": "Validate Target ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -700,
        220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "boolean": [
            {
              "name": "skip",
              "value": true
            },
            {
              "name": "is_emergency_branch",
              "value": true
            }
          ],
          "string": [
            {
              "name": "reason",
              "value": "emergency_fallback_guard_missing_or_invalid_target_id"
            },
            {
              "name": "flow_type",
              "value": "emergency_fallback_guard"
            },
            {
              "name": "invalid_target_id",
              "value": "={{ $json.target_id || '' }}"
            }
          ],
          "object": [
            {
              "name": "selected_acu_node",
              "value": {
                "name": "={{ $json.acunetix_node_name }}",
                "endpoint": "={{ $json.acunetix_endpoint }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "p-emergency-fallback",
      "name": "Prepare Emergency Fallback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "boolean": [
            {
              "name": "skip",
              "value": "={{ !!$json.skip }}"
            }
          ],
          "string": [
            {
              "name": "reason",
              "value": "={{ ($json.reason || '').toString() }}"
            },
            {
              "name": "scan_id",
              "value": "={{ ($json.scan_id || '').toString() }}"
            },
            {
              "name": "product_id",
              "value": "={{ ($node['Get Product'].json.id || '').toString() }}"
            },
            {
              "name": "product_name",
              "value": "={{ ($node['Get Product'].json.name || '').toString() }}"
            },
            {
              "name": "pt_id",
              "value": "={{ ($node['Validate Acunetix Node Input'].json.pt_id || '').toString() }}"
            },
            {
              "name": "acunetix_node_name",
              "value": "={{ ($node['Validate Acunetix Node Input'].json.acunetix_node_name || '').toString().trim() }}"
            },
            {
              "name": "acunetix_endpoint",
              "value": "={{ ($node['Validate Acunetix Node Input'].json.acunetix_endpoint || '').toString().trim().replace(/\\/+$/, '') }}"
            },
            {
              "name": "target_id",
              "value": "={{ ($node['Validate Acunetix Node Input'].json.target_id || '').toString().trim() }}"
            },
            {
              "name": "acunetix_target_id",
              "value": "={{ ($node['Validate Acunetix Node Input'].json.acunetix_target_id || '').toString().trim() }}"
            },
            {
              "name": "target_url",
              "value": "={{ 'https://' + ($node['Get Product'].json.name || '') }}"
            }
          ],
          "object": [
            {
              "name": "selected_acu_node",
              "value": {
                "name": "={{ ($node['Validate Acunetix Node Input'].json.acunetix_node_name || '').toString().trim() }}",
                "endpoint": "={{ ($node['Validate Acunetix Node Input'].json.acunetix_endpoint || '').toString().trim().replace(/\\/+$/, '') }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "p-finalize-payload-contract",
      "name": "Finalize Scan Payload Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        220
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Validate Acunetix Node Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product": {
      "main": [
        [
          {
            "node": "Validate Target ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Acunetix Scans": {
      "main": [
        [
          {
            "node": "Duplicate Guard (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Guard (Python)": {
      "main": [
        [
          {
            "node": "Finalize Scan Payload Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip new launch?": {
      "main": [
        [],
        [
          {
            "node": "Start Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Scan": {
      "main": [
        [
          {
            "node": "Init Poll Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polling Wait": {
      "main": [
        [
          {
            "node": "Get Scan Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scan Status": {
      "main": [
        [
          {
            "node": "Check Finished (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Finished (Python)": {
      "main": [
        [
          {
            "node": "Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finished?": {
      "main": [
        [
          {
            "node": "Timed out?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Polling Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Export XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export XML": {
      "main": [
        [
          {
            "node": "Import XML to DefectDojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Poll Context": {
      "main": [
        [
          {
            "node": "Polling Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timed out?": {
      "main": [
        [
          {
            "node": "Timeout Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Acunetix Node Input": {
      "main": [
        [
          {
            "node": "Validate Required Node Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Node Fields": {
      "main": [
        [
          {
            "node": "Validate PT ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Missing Acunetix Node Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate PT ID": {
      "main": [
        [
          {
            "node": "Get Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid PT ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Target ID": {
      "main": [
        [
          {
            "node": "Check Existing Acunetix Scans",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Emergency Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Emergency Fallback": {
      "main": [
        [
          {
            "node": "Skip new launch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Scan Payload Contract": {
      "main": [
        [
          {
            "node": "Skip new launch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
