WF_E_System_Health.json
{
  "name": "WF_E_System_Health",
  "nodes": [
    {
      "parameters": {},
      "id": "h-trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/system_settings/' }}",
        "options": {
          "ignoreHttpStatusErrors": true,
          "fullResponse": true
        }
      },
      "id": "h-dojo",
      "name": "Check Dojo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -760,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ ($env.ACUNETIX_BASE_URL || 'https://localhost:3443').replace(/\\/+$/,'') + '/api/v1/me' }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Auth",
              "value": "={{ $env.ACUNETIX_API_TOKEN || '' }}"
            }
          ]
        },
        "options": {
          "ignoreHttpStatusErrors": true,
          "fullResponse": true
        }
      },
      "id": "h-acu",
      "name": "Check Acunetix Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -540,
        180
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.N8N_BASE_URL || 'http://localhost:5678').replace(/\\/+$/,'') + '/healthz' }}",
        "options": {
          "ignoreHttpStatusErrors": true,
          "fullResponse": true
        }
      },
      "id": "h-n8n",
      "name": "Check n8n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -320,
        180
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime, timezone\n\nnow = datetime.now(timezone.utc).isoformat()\n\nservices = [\n    ('dojo', 'Check Dojo', [(200, 299)]),\n    ('acunetix', 'Check Acunetix Node', [(200, 299)]),\n    ('n8n', 'Check n8n', [(200, 299)]),\n]\n\ndef status_in_ranges(status_code, ranges):\n    if status_code is None:\n        return False\n    for low, high in ranges:\n        if low <= status_code <= high:\n            return True\n    return False\n\nreport = {}\ncritical = []\n\nfor service_name, node_name, expected_ranges in services:\n    node_data = $node[node_name].json if $node[node_name].json else {}\n    status_code = node_data.get('statusCode')\n    ok = status_in_ranges(status_code, expected_ranges)\n\n    error_message = None\n    if status_code is None:\n        error_message = 'no_status_code_returned'\n    elif not ok:\n        error_message = f'unexpected_status_code:{status_code}'\n\n    report[service_name] = {\n        'ok': ok,\n        'status_code': status_code,\n        'error_message': error_message,\n        'checked_at': now,\n    }\n\n    if not ok:\n        critical.append(f'{service_name}_unavailable')\n\nreturn [{\n  'json': {\n    **report,\n    'critical': critical,\n    'has_critical': len(critical) > 0,\n    'checked_at': now,\n  }\n}]"
      },
      "id": "h-report",
      "name": "Build Unified Report (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_critical }}"
            }
          ]
        }
      },
      "id": "h-if",
      "name": "Critical issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        180
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.HEALTH_ALERT_WEBHOOK || '' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "h-alert",
      "name": "Send Critical Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        100
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Check Dojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dojo": {
      "main": [
        [
          {
            "node": "Check Acunetix Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Acunetix Node": {
      "main": [
        [
          {
            "node": "Check n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check n8n": {
      "main": [
        [
          {
            "node": "Build Unified Report (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unified Report (Python)": {
      "main": [
        [
          {
            "node": "Critical issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical issues?": {
      "main": [
        [
          {
            "node": "Send Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}