WF_E_System_Health.json
{
  "name": "WF_E_System_Health",
  "nodes": [
    {
      "parameters": {},
      "id": "h-trigger",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        180
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/system_settings/' }}",
        "options": {
          "ignoreHttpStatusErrors": true,
          "fullResponse": true
        }
      },
      "id": "h-dojo",
      "name": "Check Dojo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -760,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import os, json, urllib.request\nraw = (os.environ.get('ACUNETIX_INSTANCES_JSON') or '').strip()\nnodes = []\nif raw:\n    try:\n        arr = json.loads(raw)\n        if isinstance(arr, list):\n            nodes = [i for i in arr if isinstance(i, dict) and i.get('endpoint') and i.get('token')]\n    except Exception:\n        nodes = []\nif not nodes:\n    nodes = [{'name':'acu-default','endpoint': os.environ.get('ACUNETIX_BASE_URL','https://localhost:3443'),'token': (os.environ.get('ACUNETIX_API_KEY') or os.environ.get('ACU_API_TOKEN') or '')}]\n\nreports = []\nhealthy = 0\nfor idx, n in enumerate(nodes):\n    endpoint = str(n.get('endpoint') or '').rstrip('/')\n    token = str(n.get('token') or '')\n    name = n.get('name') or f'acu-{idx+1}'\n    status_code = None\n    ok = False\n    if endpoint and token:\n        try:\n            req=urllib.request.Request(endpoint+'/api/v1/me')\n            req.add_header('X-Auth', token)\n            with urllib.request.urlopen(req, timeout=6) as resp:\n                status_code = getattr(resp,'status',200)\n                ok = 200 <= status_code <= 299\n        except Exception:\n            ok = False\n    reports.append({'name':name,'endpoint':endpoint,'statusCode':status_code,'ok':ok})\n    if ok:\n        healthy += 1\n\nreturn [{'json': {'statusCode': 200 if healthy>0 else 503, 'healthy_nodes': healthy, 'total_nodes': len(reports), 'nodes': reports}}]"
      },
      "id": "h-acu",
      "name": "Check Acunetix Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        180
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.N8N_BASE_URL || 'http://localhost:5678').replace(/\\/+$/,'') + '/healthz' }}",
        "options": {
          "ignoreHttpStatusErrors": true,
          "fullResponse": true
        }
      },
      "id": "h-n8n",
      "name": "Check n8n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -320,
        180
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime, timezone\nimport json\nimport os\nimport re\nimport urllib.request\n\nnow = datetime.now(timezone.utc).isoformat()\nBLOCK_START = 'PT_STATE_JSON_START'\nBLOCK_END = 'PT_STATE_JSON_END'\nVALID_STATES = {'new','subdomains_running','subdomains_done','nmap_running','nmap_done','targets_ready','acu_running','done','error'}\n\n\ndef status_in_ranges(status_code, ranges):\n    if status_code is None:\n        return False\n    for low, high in ranges:\n        if low <= status_code <= high:\n            return True\n    return False\n\n\ndef parse_state(description):\n    if not isinstance(description, str):\n        return {}\n    m = re.search(rf\"{BLOCK_START}\\n(.*?)\\n{BLOCK_END}\", description, re.DOTALL)\n    if not m:\n        return {}\n    try:\n        payload = json.loads(m.group(1).strip())\n        return payload if isinstance(payload, dict) else {}\n    except Exception:\n        return {}\n\n\ndef to_results(node_name):\n    data = $node[node_name].json if $node[node_name].json else {}\n    if isinstance(data, dict):\n        return data\n    return {}\n\n\ndef fetch_next_pages(initial_next):\n    token = (os.environ.get('DOJO_API_TOKEN') or '').strip()\n    if not initial_next or not token:\n        return []\n    out = []\n    visited = set()\n    current = str(initial_next)\n    while current and current not in visited:\n        visited.add(current)\n        req = urllib.request.Request(current)\n        req.add_header('Authorization', f'Token {token}')\n        req.add_header('Accept', 'application/json')\n        with urllib.request.urlopen(req, timeout=20) as resp:\n            payload = json.loads((resp.read() or b'{}').decode('utf-8'))\n        out.extend(payload.get('results') or [])\n        current = payload.get('next')\n    return out\n\nservices = [\n    ('dojo', 'Check Dojo', [(200, 299)]),\n    ('acunetix', 'Check Acunetix Node', [(200, 299)]),\n    ('n8n', 'Check n8n', [(200, 299)]),\n]\n\nreport = {}\ncritical = []\nlog_events = []\nnode_errors = []\n\nfor service_name, node_name, expected_ranges in services:\n    node_data = to_results(node_name)\n    status_code = node_data.get('statusCode')\n    ok = status_in_ranges(status_code, expected_ranges)\n    error_message = None\n    if status_code is None:\n        error_message = 'no_status_code_returned'\n    elif not ok:\n        error_message = f'unexpected_status_code:{status_code}'\n    report[service_name] = {\n        'ok': ok,\n        'status_code': status_code,\n        'error_message': error_message,\n        'checked_at': now,\n    }\n    log_events.append({\n        'pt_id': None,\n        'stage': f'health_{service_name}',\n        'job_id': service_name,\n        'server': service_name,\n        'status': 'ok' if ok else 'error',\n        'duration': None,\n    })\n    if not ok:\n        critical.append(f'{service_name}_unavailable')\n        node_errors.append({'node': service_name, 'error': error_message})\n\nacu_data = to_results('Check Acunetix Node')\nfor n in acu_data.get('nodes', []) or []:\n    if not n.get('ok'):\n        node_errors.append({'node': n.get('name'), 'error': f\"statusCode:{n.get('statusCode')}\"})\n    log_events.append({\n        'pt_id': None,\n        'stage': 'acu_node_health',\n        'job_id': n.get('name'),\n        'server': n.get('endpoint') or n.get('name'),\n        'status': 'ok' if n.get('ok') else 'error',\n        'duration': None,\n    })\n\npt_payload = to_results('Get PT States')\nproduct_types = list(pt_payload.get('results') or [])\nproduct_types.extend(fetch_next_pages(pt_payload.get('next')))\npt_window = int(os.environ.get('PT_HEALTH_WINDOW_SIZE', '300') or 300)\nproduct_types = product_types[:max(1, pt_window)]\n\nstate_counts = {state: 0 for state in VALID_STATES}\nqueues = {'subdomains': 0, 'nmap': 0, 'acu': 0}\nactive_slots = {'subdomains': 0, 'nmap': 0, 'acu': 0}\npt_errors = []\n\nfor pt in product_types:\n    pt_id = pt.get('id')\n    state_obj = parse_state(pt.get('description', ''))\n    state = str(state_obj.get('state') or 'new')\n    if state not in VALID_STATES:\n        state = 'new'\n    state_counts[state] = state_counts.get(state, 0) + 1\n\n    if state in {'new', 'error'}:\n        queues['subdomains'] += 1\n    if state in {'subdomains_done', 'nmap_running'}:\n        queues['nmap'] += 1\n    if state in {'targets_ready', 'acu_running'}:\n        queues['acu'] += 1\n\n    if state == 'subdomains_running':\n        active_slots['subdomains'] += 1\n    if state == 'nmap_running':\n        active_slots['nmap'] += 1\n    if state == 'acu_running':\n        active_slots['acu'] += 1\n\n    if state == 'error':\n        err = str(state_obj.get('last_error') or 'unknown_error')\n        stage = str(state_obj.get('last_stage') or 'unknown_stage')\n        pt_errors.append({'pt_id': pt_id, 'stage': stage, 'error': err})\n        log_events.append({\n            'pt_id': pt_id,\n            'stage': stage,\n            'job_id': f'pt:{pt_id}',\n            'server': 'dojo:pt_state',\n            'status': 'error',\n            'duration': None,\n        })\n\nmax_events = int(os.environ.get('HEALTH_MAX_LOG_EVENTS', '500') or 500)\nif max_events > 0:\n    log_events = log_events[:max_events]\n\nreturn [{\n  'json': {\n    **report,\n    'critical': critical,\n    'has_critical': len(critical) > 0,\n    'checked_at': now,\n    'pt_window_size': pt_window,\n    'pt_state_counts': state_counts,\n    'queue_status': queues,\n    'active_slots': active_slots,\n    'pt_errors': pt_errors,\n    'node_errors': node_errors,\n    'log_events': log_events,\n  }\n}]"
      },
      "id": "h-report",
      "name": "Build Unified Report (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_critical }}"
            }
          ]
        }
      },
      "id": "h-if",
      "name": "Critical issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        180
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.HEALTH_ALERT_WEBHOOK || '' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "h-alert",
      "name": "Send Critical Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ ($env.DOJO_BASE_URL || 'http://localhost:8080/api/v2').replace(/\\/+$/,'') + '/product_types/?limit=200&offset=0' }}",
        "options": {
          "ignoreHttpStatusErrors": true,
          "fullResponse": true
        }
      },
      "id": "h-pt-states",
      "name": "Get PT States",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mGl4PbJkKfeJbTg8",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Check Dojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dojo": {
      "main": [
        [
          {
            "node": "Get PT States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Acunetix Node": {
      "main": [
        [
          {
            "node": "Check n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check n8n": {
      "main": [
        [
          {
            "node": "Build Unified Report (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unified Report (Python)": {
      "main": [
        [
          {
            "node": "Critical issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical issues?": {
      "main": [
        [
          {
            "node": "Send Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get PT States": {
      "main": [
        [
          {
            "node": "Check Acunetix Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
